server:
  port: 8761
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false


# server:
#   port: ${PORT:8761}
#
# eureka:
#   instance:
#     hostname: ${EUREKA_HOSTNAME:localhost}
#   client:
#     register-with-eureka: false
#     fetch-registry: false
#     service-url:
#       defaultZone: ${EUREKA_URI:http://${eureka.instance.hostname}:${server.port}/eureka/}